/* line 1, ./src/stylesheets/global/_typography.scss */
.headline-font, h1, h2, td:first-child {
  color: #e1bf65;
  font-family: "Chinese Rocks";
  opacity: 0.8;
}

/* line 7, ./src/stylesheets/global/_typography.scss */
h1, h2 {
  font-size: 101px;
  font-weight: normal;
  line-height: 100px;
  margin: 40px 0;
  text-align: left;
}
/* line 14, ./src/stylesheets/global/_typography.scss */
h1.light, h2.light, h2 {
  font-weight: 100;
}

/* line 19, ./src/stylesheets/global/_typography.scss */
h2 {
  font-size: 60px;
}

/* line 25, ./src/stylesheets/global/_typography.scss */
p, ul li,
ol li {
  font-size: 36px;
  margin: 40px 80px;
}

/* line 30, ./src/stylesheets/global/_typography.scss */
strong {
  font-weight: bold;
}

/* line 34, ./src/stylesheets/global/_typography.scss */
body {
  font-family: "league gothic", "helvetica neue";
}

/* line 38, ./src/stylesheets/global/_typography.scss */
.cross {
  margin: 0 -0.15em;
}

/* line 42, ./src/stylesheets/global/_typography.scss */
.unit {
  margin-left: -0.15em;
}

/* line 1, ./src/stylesheets/global/_pre.scss */
pre {
  background: #3f4a48;
  color: white;
  font-family: "Courier New";
  font-size: 24px;
  font-weight: bold;
  margin: 40px;
  overflow: hidden;
  padding: 20px 40px;
}
/* line 10, ./src/stylesheets/global/_pre.scss */
pre.l {
  font-size: 30px;
}
/* line 13, ./src/stylesheets/global/_pre.scss */
pre.xl {
  font-size: 36px;
}

/* line 1, ./src/stylesheets/global/_links.scss */
a {
  color: #e1bf65;
  text-decoration: none;
}
/* line 4, /Users/phuesler/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.5/frameworks/compass/stylesheets/./compass/utilities/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}

/* line 1, ./src/stylesheets/layouts/_default.scss */
html {
  overflow: hidden;
}

/* line 5, ./src/stylesheets/layouts/_default.scss */
body {
  font-size: 16px;
  left: 0px;
  margin: 0;
  height: 100%;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0px;
  width: 100%;
}

/* line 17, ./src/stylesheets/layouts/_default.scss */
.presentation {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  display: block;
  overflow: hidden;
  background: #576562;
}

/* line 1, ./src/stylesheets/partials/_slides.scss */
.slides {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -moz-transition: -moz-transform 1s ease-in-out;
  -o-transition: -o-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}

/* line 14, ./src/stylesheets/partials/_slides.scss */
.slide {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  left: 0;
  top: 0;
  background: url('../images/Hintergrund.jpg?1306508598');
  -moz-transition-property: margin;
  -webkit-transition-property: margin;
  -o-transition-property: margin;
  transition-property: margin;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 26, ./src/stylesheets/partials/_slides.scss */
.slide.far-past {
  display: block;
  margin-left: -3840px;
}
/* line 30, ./src/stylesheets/partials/_slides.scss */
.slide.past {
  visibility: visible;
  display: block;
  margin-left: -1920px;
}
/* line 35, ./src/stylesheets/partials/_slides.scss */
.slide.current {
  visibility: visible;
  display: block;
  margin-left: 0px;
}
/* line 40, ./src/stylesheets/partials/_slides.scss */
.slide.future {
  visibility: visible;
  display: block;
  margin-left: 1920px;
}
/* line 45, ./src/stylesheets/partials/_slides.scss */
.slide.far-future {
  display: block;
  margin-left: 3840px;
}
/* line 49, ./src/stylesheets/partials/_slides.scss */
.slide .counter {
  display: none;
}
/* line 52, ./src/stylesheets/partials/_slides.scss */
.slide:after {
  background: rgba(0, 0, 0, 0.7);
  bottom: 80px;
  color: white;
  display: block;
  font-size: 36px;
  font-weight: bold;
  left: 80px;
  opacity: 0;
  padding: 40px;
  position: absolute;
  right: 80px;
  text-align: center;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

/* line 70, ./src/stylesheets/partials/_slides.scss */
footer, figcaption {
  bottom: 40px;
  left: 40px;
  position: absolute;
  right: 40px;
  text-align: center;
}
/* line 76, ./src/stylesheets/partials/_slides.scss */
footer a, figcaption a {
  color: #899996;
}

/* line 82, ./src/stylesheets/partials/_slides.scss */
.title-only header {
  display: table-cell;
  height: 1080px;
  vertical-align: middle;
  width: 100%;
}
/* line 90, ./src/stylesheets/partials/_slides.scss */
.title-only h1, .title-only h2,
.title-only footer,
.title-only figcaption,
.title-only footer a,
.title-only figcaption a {
  color: #e1bf65;
}

/* line 95, ./src/stylesheets/partials/_slides.scss */
.title {
  background: url('../images/Start.jpg?1306508598');
  padding: 350px 20px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 99, ./src/stylesheets/partials/_slides.scss */
.title header {
  display: table-cell;
  height: 330px;
  vertical-align: middle;
  width: 860px;
}
/* line 107, ./src/stylesheets/partials/_slides.scss */
.title h1, .title h2,
.title h2,
.title footer,
.title figcaption {
  color: white;
  margin: 20px 40px;
}

/* line 113, ./src/stylesheets/partials/_slides.scss */
.contact {
  background: url('../images/layout/contact.png');
}

/* line 118, ./src/stylesheets/partials/_slides.scss */
.with-steps:after, .navigation-info:after {
  content: "Press “N” to show results";
  opacity: 1;
}
/* line 121, ./src/stylesheets/partials/_slides.scss */
.playing .with-steps:after, .playing .navigation-info:after {
  opacity: 0;
}

/* line 129, ./src/stylesheets/partials/_slides.scss */
.navigation-info:after {
  content: "Press arrows to navigate";
}

/* line 135, ./src/stylesheets/partials/_slides.scss */
header,
section {
  padding: 0 5% 0 45%;
}

/* line 139, ./src/stylesheets/partials/_slides.scss */
section ul li {
  color: white;
}

/* line 143, ./src/stylesheets/partials/_slides.scss */
header {
  margin-top: 120px;
}

/* line 147, ./src/stylesheets/partials/_slides.scss */
td {
  color: white;
  font-size: 26px;
  vertical-align: middle;
  padding-right: 30px;
}
/* line 152, ./src/stylesheets/partials/_slides.scss */
td:first-child {
  font-size: 33px;
  text-align: right;
}
/* line 157, ./src/stylesheets/partials/_slides.scss */
td:nth-child(3) {
  text-align: right;
  text-transform: uppercase;
}
/* line 161, ./src/stylesheets/partials/_slides.scss */
td a {
  color: #e1bf65;
}

/* line 1, ./src/stylesheets/partials/_presentation-counter.scss */
#presentation-counter {
  color: #e1bf65;
  font-size: 100px;
  letter-spacing: 1px;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;
}

/* line 1, ./src/stylesheets/partials/_figures.scss */
figure {
  display: table-cell;
  height: 470px;
  text-align: center;
  vertical-align: middle;
  width: 1920px;
}
/* line 7, ./src/stylesheets/partials/_figures.scss */
figure img {
  max-height: 470px;
}
/* line 10, ./src/stylesheets/partials/_figures.scss */
figure.shadow img {
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 3px 15px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 3px 15px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 3px 15px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 3px 15px 0;
}
/* line 13, ./src/stylesheets/partials/_figures.scss */
figure.transparent img {
  background: url('../images/layout/transparency.png');
}
