- @title = 'EuRuKo 2011'

.slide.title
  
.slide
  %header
    %h1 Saturday
  %section
    %table.schedule
      %tbody
        %tr
          %td 09:00
          %td{:colspan => "2"} Registration
        %tr
          %td 09:30
          %td{:colspan => "2"} Welcome
        %tr
          %td 09:45
          %td Keynote
          %td
            %a.speaker-link{:href => "#Yukihiro-Matsumoto"} Yukihiro Matsumoto
        %tr.pause
          %td 10:45
          %td{:colspan => "2"} Coffee Break
        %tr
          %td 11:00
          %td Ruby helps us make movies: Guerilla-DI, scripted tools for a modern film pipeline
          %td
            %a.speaker-link{:href => "#Julik-Tarkhanov"} Julik Tarkhanov
        %tr
          %td 11:30
          %td JRuby hacking guide
          %td
            %a.speaker-link{:href => "#David-Calavera"} David Calavera
        %tr
          %td 12:00
          %td In the Loop
          %td
            %a.speaker-link{:href => "#Lourens-Naude"} Lourens Naudé
        %tr.pause
          %td 12:30
          %td{:colspan => "2"} Lunch
        %tr
          %td 14:30
          %td Games for the Masses: Scaling Rails to the Extreme
          %td
            %a.speaker-link{:href => "#Jesper-Richter-Reichhelm"} Jesper Richter-Reichhelm
        %tr
          %td 15:00
          %td BE RESTFUL. BE WEB 2.0. BUT DON'T MIX IT
          %td
            %a.speaker-link{:href => "#Nick-Sutterer"} Nick Sutterer
        %tr
          %td 15:30
          %td Actors on Stage
          %td
            %a.speaker-link{:href => "#Elise-Huard"} Elise Huard
        %tr.pause
          %td 16:00
          %td{:colspan => "2"} Longer Break
        %tr
          %td 16:30
          %td The Expression Problem in Ruby: A focus on Traits.
          %td
            %a.speaker-link{:href => "#Federico-Brubacher"} Federico Brubacher
        %tr
          %td 17:00
          %td The Revenge of method_missing()
          %td
            %a.speaker-link{:href => "#Paolo-Perrotta"} Paolo Perrotta
        %tr
          %td 17:30
          %td Lightning Talks
        %tr.pause
          %td 18:30
          %td{:colspan => "2"} Dinner Time
  
.slide
  %header
    %h1 Sunday
  %section
    %table.schedule
      %tbody
        %tr
          %td 10:00
          %td Keynote
          %td
            %a.speaker-link{:href => "#Paul-Campell"} Paul Campell
        %tr.pause
          %td 11:00
          %td{:colspan => "2"} Coffee Break
        %tr
          %td 11:15
          %td Bridging the gap - Using JavaScript in Rails to write DRY rich client applications
          %td
            %a.speaker-link{:href => "#Thorben-Schroeder"} Thorben Schröder / Andreas Haller
        %tr
          %td 11:45
          %td Scanning Strings at Supersonic Speed
          %td
            %a.speaker-link{:href => "#Kornelius-Kalnbach"} Kornelius Kalnbach
        %tr
          %td 12:15
          %td Your Data, Your Search
          %td
            %a.speaker-link{:href => "#Karel-Minarik"} Karel Minařík
        %tr.pause
          %td 12:45
          %td{:colspan => "2"} Lunch
        %tr
          %td 14:45
          %td Tales of the Big White Cloud
          %td
            %a.speaker-link{:href => "#Pat-Allan"} Pat Allan
        %tr
          %td 15:15
          %td Endless fun with Arduino and Eventmachine
          %td
            %a.speaker-link{:href => "#Bodo-Tasche"} Bodo Tasche
        %tr
          %td 15:45
          %td Getting Hands On with Adhearsion
          %td
            %a.speaker-link{:href => "#Ben-Langfeld"} Ben Klang / Ben Langfeld
        %tr.pause
          %td 16:15
          %td{:colspan => "2"} Longer Break
        %tr
          %td 16:45
          %td sentiment analysis of Twitter messages in Ruby
          %td
            %a.speaker-link{:href => "#Mateusz-Drozdzynski"} Mateusz Drożdżyński
        %tr
          %td 17:15
          %td Writing your own programming language to understand Ruby better
          %td
            %a.speaker-link{:href => "#Jose-Valim"} José Valim
        %tr
          %td 17:45
          %td{:colspan => "2"} Short Lightning Talks
        %tr
          %td 18:15
          %td{:colspan => "2"} Closing, candidates discussion for hosting Euruko 2012
        %tr.pause
          %td 18:30
          %td{:colspan => "2"} Dinner Time

.slide
  %header
    %h1 Party
  %section
    %img(src="/images/Anfahrt.png")
